<div class="container">
  <div class="content">
    <div class="info-box">
      <h1>Musikkleiar Høg see</h1>
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
    <div class="info-box">
      <h1>Lyrikkleiar Lett jambe</h1>
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
    <div class="info-box">
      <h1>Dans-og dramleiar Svak Grynt</h1>
      <p>Utstyr og utvikling tilbyr utleige følgande utstyr. Det er mogleg med både korttidsleige og langtidsleige..</p>

    </div>
</div>
